@import "tailwindcss";
.add-task{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 5px;
}
.add-task h1{
  font-family: cursive;
  font-weight: bold;
  
}
.add-task input{
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  background-color: beige
}
.add-task button{
  width: 100px;
  color: rgb(236, 236, 239);
  border: 2px solid blue;
  background-color: blue;
  border-radius: 5px;
  height: 35px;

}